<!doctype html>
<html>
<head>
    <%include template/head%>
</head>
<body>
    <%function dateFormatChange(date){
        var option={
            weekday:'short',year:'numeric',month:'numeric',day:'numeric',hour:'2-digit',minute:'2-digit'
        };
        return date.toLocaleTimeString('ko-KR',option);
    }%>
     <div class="container">
         <form action="/process/contentmodified" method="get">
         <table class="table">
            <thead>
                <tr class="table-active">
                    <th>제목</th><td colspan="5"><input type="text" name="title" value="<%=contents.title%>"></td>
                </tr>
            </thead>
             <tbody>
                 <tr class="table-primary">
                     <th>글쓴이</th><td><input type="text" name="writer" value="<%=contents.writer%>"></td>
                     <th>날짜</th><td><input type="text" name="date" value="<%=dateFormatChange(contents.date)%>"></td>
                     <th>조회수</th><td><%=contents.count%></td>
                 </tr>
                 <tr class="table-info">
                     <td colspan="6"><textarea name="contents"><%=contents.contents%></textarea></td>
                 </tr>
             </tbody>
         </table>
             <button type="submit">수정완료</button>
             <input name="id" value="<%=contents._id%>" type="hidden">
         </form>
         <!--사용자와 글의 사용자가 일치할 경우에 수정 삭제 출력-->
         
         <button><a href="/process/contentdelete">취소</a></button>
    </div>
</body>
</html>