<!--read,modify,delete-->
<!doctype html>
<html>
<head>
    <%include template/head%>
    <link rel="stylesheet" href="/css/contentread.css">

</head>
    <script>
        function dateChange(date){
            var option={
                weekday:'short',year:'numeric',month:'numeric',day:'numeric',hour:'2-digit',minute:'2-digit'  
            };
            console.log(typeof date);
            var d=new Date(date);
            console.log(d);
            return d.toLocaleTimeString('ko-KR',option);
        }
        function changePage(page){
        console.log('changePage',page);
            $.ajax({
                url: '/process/replypage?id=<%=contents._id%>&page='+page+"&max=<%=contents.comments.length%>",
                type: "get",
                success: function(reply) {
                    var output = '';
                    for(var i=0;i<reply.length;i++) {//현재 댓글 페이지의 전체 출력
                        output +=
                            '<div class="comment_box">'
                            +   '<ul class="comment">'
                            +       '<li class="comment_info">'
                            +         '<span>'+reply[i].name+'</span>'
                            +         ' <span>'+dateChange(reply[i].date)+'</span>'
                            +       '</li>'
                            +       '<li class="comment_area">'
                            +          reply[i].memo
                            +       '</li>'
                            +   '</ul>'
                            +'</div>';
                    }
                    $('.reply_list').html(output);
                }
            });
    }
</script>
<body>
    <%function dateFormatChange(date){
        var option={
            weekday:'short',year:'numeric',month:'numeric',day:'numeric',hour:'2-digit',minute:'2-digit'
        };
        return date.toLocaleTimeString('ko-KR',option);
    }%>
    <%include template/nav%>
     <div class="container">
         <table class="table">
            <thead>
                <tr class="table-active">
                    <th>제목</th><td colspan="5"><%=contents.title%></td>
                </tr>
            </thead>
             <tbody>
                 <tr class="table-primary">
                     <th>글쓴이</th><td><%=contents.writer%></td>
                     <th>날짜</th><td><%=dateFormatChange(contents.date)%></td>
                     <th>조회수</th><td><%=contents.count%></td>
                 </tr>
                 <tr class="table-info">
                     <td colspan="6"><pre><%=contents.contents%></pre></td>
                 </tr>
             </tbody>
         </table>
         <!--사용자와 글의 사용자가 일치할 경우에 수정 삭제 출력-->
         <div class="forbtn">
            <button class="btn btn-primary" type="submit"><a href="/process/contentmodify?id=<%=contents._id%>" class="wbtn">ADJUST</a></button>
            <input name="id" value="<%=contents._id%>" type="hidden">
            <button class="btn btn-danger"><a href="/process/contentdelete?id=<%=contents._id%>" class="wbtn">DELELTE</a></button>
         </div>
    </div>
    
    <div class="container">
        <div class="reply_list">
        <%
        for(var j=0;j<contents.comments.length;j++){
            if(j<5){%>
            <div class="comment_box">
            <ul class="comment">
                <li class="comment_info">
                    <span><%=contents.comments[j].name%></span>
                    <span><%=dateFormatChange(contents.comments[j].date)%></span>
                </li>
                <li class="comment_area">
                    <%=contents.comments[j].memo%>
                </li>
            </ul>
            </div>
        <%}
        }%>
        </div>
    </div>
   
    <%if(typeof replypage!=='undefined'){%>
        <div class="container">
            <%for(var k=1;k<=replypage;k++){%>
            <a href="#" onclick="changePage(<%=k%>);"><%=k%></a>
            <%}%>
        </div>
    <%}%>
    <div class="container">
        <form action="/process/reply" method="post">
            <textarea style="width:100%;" rows="4" placeholder="댓글 남기기" name="reply"></textarea>
            <input type="submit" value="작성" class="btn btn-primary"><input value="<%=contents._id%>" type="hidden" name="contentid">
        </form>
    </div>
    <script src="/js/cancel.js" ></script><!--ejs의 요소들이 다 load된 뒤에 참조해야 인식함.-->
</body>
</html>
