<!--read,modify,delete-->
<!doctype html>
<html>
<head>
    <%include template/head%>
</head>
<body>
    <%include template/nav%>
    <%function dateFormatChange(date){
        var option={
            weekday:'short',year:'numeric',month:'numeric',day:'numeric',hour:'2-digit',minute:'2-digit'
        };
        return date.toLocaleTimeString('ko-KR',option);
    }%>
     <div class="container">
         <table class="table">
            <thead>
                <tr class="table-active">
                    <th>제목</th><td colspan="5"><%=contents.title%></td>
                </tr>
            </thead>
             <tbody>
                 <tr class="table-primary">
                     <th>글쓴이</th><td><%=contents.writer%></td>
                     <th>날짜</th><td><%=dateFormatChange(contents.date)%></td>
                     <th>조회수</th><td><%=contents.count%></td>
                 </tr>
                 <tr class="table-info">
                     <td colspan="6"><pre><%=contents.contents%></pre></td>
                 </tr>
             </tbody>
         </table>
         <!--사용자와 글의 사용자가 일치할 경우에 수정 삭제 출력-->
         <div class="forbtn">
            <button class="btn btn-primary" type="submit"><a href="/process/contentmodify?id=<%=contents._id%>" class="wbtn">ADJUST</a></button>
            <input name="id" value="<%=contents._id%>" type="hidden">
            <button class="btn btn-danger"><a href="/process/contentdelete?id=<%=contents._id%>" class="wbtn">DELELTE</a></button>
         </div>
    </div>
</body>
</html>